{% extends "base.html" %}
{% block content %}

<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-size: 2500px;background-image: url('/static/chicago-background.jpg');">
  <img class="img-fluid d-block mx-auto" src="/static/mainlogo.png" width="200" alt="">
</header>

<div class="container jumbotron bg-transparent">
   <h1 class="display-4">Ai grija de kjkjkj ta!</h1>
  <h3 class="text-justify">Aplicatia Carplanner este o aplicatie ajuta la gestionarea hjhjhjh si reviziilor tehnice ale kjkjkj, fiind destinata tuturor detinatorilor de vehicule (personale sau comerciale) care doresc sa fie in permanenta la curent cu starea tehnica si oblicatiile de plata aferente vehiculelor detinute</h3>
  <h3 class="text-justify">Ce ne remarca fata de competitie este faptul ca in cadrul aplicatiei noastre se pot adauga jhjhj customizate in functie atat de data, cat si de kilometri</h3>
  <h3 class="text-justify">Incearca acum! Pentru un singur autoturism, absolut toate functionalitatile aplicatiei sunt 100% GRATUITE.
  <h3 class="text-justify">Pentru mai multe detalii legate de tarifare, viziteaza pagina <a href="/tarife">Tarife</a></h3>
</div>

{% endblock %}
