{% extends "base.html" %}
{% block content %}


<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-size: 2500px;background-image: url('/static/chicago-background.jpg');">
  <img class="img-fluid d-block mx-auto" src="/static/mainlogo.png" width="200" alt="">
</header>



<div class="container jumbotron bg-transparent">
  <h1 class="display-4 text-center">Gestionează eficient documentele jhjhhjh și reviziile tehnice pentru vehiculul personal sau flota </h1>
  <p class="lead">Fa-ti acum cont gratuit si uita de grija Reviziilor Tehnice si a expirarii RCA-ului, ITP-ului, Vignetei, trusei, stingatorului.</p>
  <p class="lead">Aplicatia este complet GRATIS pentru o singura asdasdf. Pentru mai multe detalii, consulta pagina <a href="/tarife">Tarife</a></p>
  <p class="lead">Cum functioneaza?</p>
  <p class="lead">Iti faci cont, iti adaugi kjkkj in sistem, adaugi documentele kjkjkj si uiti de grija. Vei fi notificat pe mail cand se apropie expirarea unui document sau apropierea unei revizii</p>
  <div class="text-center">
    <a class=" btn btn-primary btn-lg" href="/register" role="button">Vreau cont</a>
  </div>
</div>



{% endblock %}
