{% extends "base.html" %}
{% block content %}

<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-size: 2500px;background-image: url('/static/chicago-background.jpg');">
  <img class="img-fluid d-block mx-auto" src="/static/mainlogo.png" width="200" alt="">
</header>

<div class="container jumbotron bg-transparent">
   <h1 class="display-4">Primul autovehicul gratuit!</h1>
  <h3 class="text-justify">Aplicatia Carplanner este total gratuita si cu functioalitatile complete pentru un singur autovehicul</h3>
  <h3 class="text-justify">Pentru a adauga si gestiona mai multe kjkjkj din acelasi cont trebuiesc achizitionate pachete</h3>
  <h3 class="text-justify">Preturile sunt urmatoarele:</h3>
  <ul>
   <li style="font-size:20px">Pana la 2  autovehicule  -> 1  EUR / an</li>
   <li style="font-size:20px">Pana la 5  autovehicule  -> 5  EUR / an</li>
   <li style="font-size:20px">Pana la 10 autovehicule  -> 15 EUR / an</li>
   <li style="font-size:20px">Pana la 20 autovehicule  -> 20 EUR / an</li>
   <li style="font-size:20px">Peste 21 de autovehicule -> 1  EUR / an / autovehicul</li>
  </ul>
  <h3 class="text-justify">Pentru mai multe informatii nu ezitati sa ne <a href="/contact">contactati</a></h3>

</div>


{% endblock %}
