<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/master.css"/>

    <title>Taraba lui Eusebiu</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">
        <img src="/static/mainlogo.png" width="50" height="50" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link mr-3" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li id="menu-item-?????" class="nav-item btn btn-success btn-sm mr-3">
              <a class="nav-link" href="{{ url_for('useri.userhome', email=current_user.email) }}">Contul meu</a>
            </li>
            <li id="menu-item-??????" class="nav-item btn btn-secondary btn-sm mr-3">
              <a class="nav-link" href="{{ url_for('useri.logout') }}">Logout</a>
            </li>
          {% else %}
            <li id="menu-item-?????" class="nav-item btn btn-primary btn-sm mr-3">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>
            <li id="menu-item-??????" class="nav-item btn btn-success btn-sm mr-3">
              <a class="nav-link" href="/login">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <br><br><br>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-primary alert-dismissible fade show alerta-jos" role="alert">
          {% for message in messages %}
            {{ message }}
            <br>
          {% endfor %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endwith %}


    <!-- Here comes all the pages -->
    {% block content %}
    {% endblock %}

    <!--
    <footer class="page-footer font-small blue">

      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="/"> webapplication.ro</a>
      </div>
    </footer>
    -->

  </body>
</html>
